* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


/* MAIN PAGE */

.signup-page {

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background: linear-gradient(
    135deg,
    #eff6ff,
    #dbeafe
  );

  padding: 30px;

}



.signup-container {

  width:100%;

  max-width:1100px;

}



/* LEFT SECTION */

.signup-left {

  margin-bottom:35px;

}


.signup-left h1 {

  font-size:42px;

  color:#2563eb;

  margin:0 0 25px;

}



.signup-left h2 {

  font-size:32px;

  color:#0f172a;

  margin-bottom:15px;

}



.signup-left p {

  max-width:650px;

  color:#64748b;

  font-size:17px;

  line-height:1.5;

}





/* RIGHT CARD */


.signup-right {

  display:flex;

  justify-content:center;

}



.signup-card {


  width:100%;

  max-width:650px;


  background:white;


  padding:45px;


  border-radius:20px;


  box-shadow:

  0 20px 40px rgba(37,99,235,0.15);

}





.signup-card h2 {

  text-align:center;

  font-size:30px;

  color:#0f172a;

  margin-bottom:10px;

}





.subtitle {

  text-align:center;

  color:#64748b;

  margin-bottom:30px;

}





/* MESSAGE */


.message {

  text-align:center;

  padding:10px;

  background:#dcfce7;

  color:#166534;

  border-radius:8px;

  margin-bottom:20px;

}





/* INPUT */


.input-group {

  margin-bottom:20px;

}



.input-group label {

  display:block;

  margin-bottom:8px;

  color:#334155;

  font-weight:600;

}



.input-group input {


  width:100%;


  height:48px;


  padding:0 15px;


  border:1px solid #cbd5e1;


  border-radius:10px;


  font-size:15px;


  outline:none;

}



.input-group input:focus {


  border-color:#2563eb;


  box-shadow:

  0 0 0 3px rgba(37,99,235,0.15);

}





/* BUTTON */


.signup-button {


  width:100%;


  height:52px;


  border:none;


  border-radius:10px;


  background:#2563eb;


  color:white;


  font-size:17px;


  font-weight:600;


  cursor:pointer;


}



.signup-button:hover {

  background:#1d4ed8;

}





/* LOGIN TEXT */


.login-text {

  text-align:center;

  margin-top:25px;

  color:#64748b;

}



.login-text span {


  color:#2563eb;


  font-weight:600;


  cursor:pointer;


}





@media(max-width:700px){


.signup-card {

  padding:25px;

}


.signup-left h1 {

  font-size:35px;

}


.signup-left h2 {

  font-size:26px;

}


}